
.contenter{
    width: 7.44rem;
    background: #ffffff;
    padding:0.5rem 0.31rem;
}
.myAPP{
    width: 6.9rem;
    height:0.4rem;
    padding-bottom: 0.6rem;
    clear: both;
}
.myAPP p{
    height:0.4rem;
    line-height: 0.4rem;
    float: left;
    font-size: 0.4rem;
    line-height: 0.4rem;
    color: #666666;
}
.APPIconBox{
    /*padding-left: 0.56rem;*/
    width:7.44rem ;
}
.myAPP .editBtn{
    width: 0.9rem;
    height: 0.4rem;
    background: #4ca9ed;
    border-radius: 0.04rem;
    color: #ffffff;
    font-size: 0.24rem;
    line-height: 0.4rem;
    text-align: center;
}
.APPIcon{
    width: 1.3rem;
    height: 1.78rem;
    margin-right: 0.56rem;
    margin-bottom: 0.3rem;
    position: relative;
}
.APPIcon .APPImg{
    width: 1.28rem;
    height: 1.28rem;
    border: 0.01rem #ededed solid;
    border-radius: 0.16rem;
}
.APPIcon p{
    width: 100%;
    text-align: center;
    margin-top: 0.14rem;
    font-size: 0.24rem;
    color: #aaaaaa;
}
.recommend{
    height: 0.3rem;
    line-height: 0.3rem;
    margin:0.3rem;
    border-left: 0.06rem #4ca9ec solid;
    border-radius: 0.02rem;
    font-size: 0.28rem;
    color: #666666;
    text-indent:0.1rem ;
}
.recommendApp{
    padding: 0.4rem 0.3rem;
    margin-bottom: 0.1rem;
}
.recommendApp p:first-child{
    font-size: 0.24rem;
    color: #666666;
    margin-bottom: 0.3rem;
}
#myAPPList{
  position: fixed;
    top: 0.54rem;
    z-index: 10;
}
.deleteIcon{
    width: 0.42rem;
    height: 0.42rem;
    background: url("../img/delete.png")no-repeat center;
    background-size: contain;
    position: absolute;
    top: -0.06rem;
    right: -0.06rem;
}
.addIcon{
    width: 0.42rem;
    height: 0.42rem;
    background: url("../img/add.png")no-repeat center;
    background-size: contain;
    position: absolute;
    top: -0.06rem;
    right: -0.06rem;
}
.alreadyAdd{
    width: 0.42rem;
    height: 0.42rem;
    background: url("../img/redearyAdd.png")no-repeat center;
    background-size: contain;
    position: absolute;
    top: -0.06rem;
    right: -0.06rem;
}