
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1497234443375'); /* IE9*/
  src: url('iconfont.eot?t=1497234443375#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497234443375') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497234443375') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497234443375#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconshouji:before { content: "\e60f"; }

.icon-leftarrow:before { content: "\e65d"; }

.icon-xinzeng:before { content: "\e641"; }

.icon-dingwei:before { content: "\e61d"; }

.icon-iconfontjiantou1:before { content: "\e62b"; }

.icon-zhaoxiangji:before { content: "\e6ec"; }

.icon-aixin:before { content: "\e612"; }

.icon-yanzhengyanzhengma:before { content: "\e624"; }

.icon-geren:before { content: "\e61c"; }

.icon-xiaoxi:before { content: "\e616"; }

.icon-x:before { content: "\e659"; }

.icon-pingfenwujiaoxing1:before { content: "\e501"; }

.icon-bao:before { content: "\e60a"; }

